@import '../darkmode/darktheme.css';

[data-theme=dark] .log {
  white-space: pre-wrap;
  color: #7f8289;
  font-size: 0.85em;
  background: inherit;
  border: 0;
  padding: 0;
}

[data-theme=dark] .log .inner-line {
  padding: 0 15px;
  margin-left: 84pt;
  text-indent: -84pt;
  margin-bottom: 0;
}

[data-theme=dark] .log .inner-line:empty::after {
  content: '.';
  visibility: hidden;
}

[data-theme=dark] .log.no-indent .inner-line {
  margin-left: 0;
  text-indent: 0;
}

[data-theme=dark] .log .line-selected {
  background-color: #302436;
}

[data-theme=dark] .navbar {
  color: white !important;
  background-color: #212529 !important;
}

[data-theme=dark] .navbar * {
  color: white !important;
}

[data-theme=dark] .navbar svg * {
  fill: white !important;
}

.dark-switcher {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}