@import 'bootstrap.min.css';

body {
  padding-top: 60px;
}
@media screen and (max-width: 768px) {
  body {
    padding-top: 120px;
  }
}

.navbar-brand {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.btn-pause {
  margin: 8px 0 8px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23999' viewBox='0 0 8 8'><path d='M1 1v6h2v-6h-2zm4 0v6h2v-6h-2z'></path></svg>")
    no-repeat center center;
  background-color: #e2e6ea;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 34px;
  width: 34px;
  border: 1px solid #ccc;
}

.btn-pause.play {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23999' viewBox='0 0 8 8'><path d='M1 1v6l6-3-6-3z'></path></svg>")
    no-repeat center center;
  background-color: #e2e6ea;
}

.navbar-form-custom {
  padding: 8px 0;
}

.no-horiz-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-topbar {
  padding-top: 10px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.log {
  white-space: pre-wrap;
  color: black;
  font-size: 0.85em;
  background: inherit;
  border: 0;
  padding: 0;
}

.log .inner-line {
  padding: 0 15px;
  margin-left: 84pt;
  text-indent: -84pt;
  margin-bottom: 0;
}

.log .inner-line:empty::after {
  content: '.';
  visibility: hidden;
}

.log.no-indent .inner-line {
  margin-left: 0;
  text-indent: 0;
}

.log .line-selected {
  background-color: #ffb2b0;
}
