@import "bootstrap.min.css";

body {
    padding-top: 70px;
}
@media screen and (max-width: 768px) {
    body {
    padding-top: 140px;
    }
}


.no-horiz-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.no-topbar {
    padding-top: 10px;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.log {
    white-space: pre-wrap;
    color: black;
    font-size: .85em;
    background: inherit;
    border: 0;
    padding: 0;
}

.log .inner-line {
    padding: 0 15px;
    margin-left: 84pt;
    text-indent: -84pt;
    margin-bottom: 0;
}

.log .inner-line:empty::after {
    content: '.';
    visibility: hidden;
}

.log.no-indent .inner-line {
    margin-left: 0;
    text-indent: 0;
}

.log .line-selected {
    background-color: #ffb2b0;
}
