@import 'bootstrap.min.css';
@import 'dark.css';

body {
  user-select: none;
}

.log {
  margin-top: 1rem;
  white-space: pre-wrap;
  color: black;
  font-size: 0.85em;
  background: inherit;
  border: 0;
  padding: 0;
}

.log .inner-line {
  padding: 0 15px;
  margin-left: 84pt;
  text-indent: -84pt;
  margin-bottom: 0;
  user-select: text;
  width: max-content;
}

.log .inner-line:empty::after {
  content: '.';
  visibility: hidden;
}

.log.no-indent .inner-line {
  margin-left: 0;
  text-indent: 0;
}

.log .line-selected {
  background-color: #ffb2b0;
}

.btn-pause {
  margin: 0 1rem;
}

.btn-pause svg {
  height: 1.5rem;
}